<div class="card employee-card">
      <h5 class="card-title employee-card-title">Update Location</h5>
      <div class="card-body">
          <form #locationForm="ngForm"> 
              <div class="form-group">
                  <label for="nameEN">Location Name(EN)</label>
                  <input type="text" 
                  class="form-control" 
                  id="locationNameEn"
                  name="locationNameEn"
                  [(ngModel)]="office.locNameEn"
                  placeholder="Enter name in English">
                </div>
                <div class="form-group">
                    <label for="nameAr">Location Name (Ar)</label>
                    <input type="text" class="form-control" 
                    id="locationNameAr" 
                    name="locationNameAr" 
                    [(ngModel)]="office.locNameAr"
                    placeholder="Enter name in Arabic">
                  </div>   
                <div class="form-check">
                  <input type="checkbox" 
                  class="form-check-input" 
                  id="isActive" 
                  name="isActive"
                  [(ngModel)]="office.isEnabled">
                  <label class="form-check-label" for="isActive">Is Active</label>
                </div>  
                <div class="d-flex justify-content-end">
                  <button type="button" class="btn btn-outline-success">Update</button>
                  <button type="button" class="btn btn-outline-warning" style="margin-left:1rem" (click)="cancel()">Cancel</button>
              </div>                                                       
          </form>
      </div>
  </div>