<div>
  <h2>SmartAmer</h2>
  <h5>Privilege System</h5>
  <hr>
  <div>
    <img src="images/logo.png" class="user-avatar">
  </div>
  <h6>Nitya</h6>
  <div>
    <button type="button" class="btn btn-outline-white">Change Password</button>
    <button type="button" class="btn btn-outline-white">Logout</button>
  </div>
  <hr>
  <ul class="navbar-nav mr-auto left-panel-links">
    <li class="nav-item">
      <a class="nav-link link-color" routerLink="/employees" routerLinkActive="active"><span>Employees</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-color" routerLink="/office-locations" routerLinkActive="active"><span>Employee Office Locations</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-color" routerLink="/audit-trail" routerLinkActive="active"><span>Audit Trail</span></a>
    </li>
  </ul>
</div>