<div>
  <h2>PrivilegeManager</h2>
  <h5>Privilege System</h5>
  <hr>
  <div>
    <img src="assets/images/logo.png" class="user-avatar">
  </div>
  <h6 style="text-align: center">Nitya</h6>
  <div class="d-flex flex-column logout-change-password-block">
    <button type="button" class="btn btn-outline-white">Change Password</button>
    <button type="button" class="btn btn-outline-white">Logout</button>
  </div>
  <hr>
  <ul class="navbar-nav mr-auto left-panel-links">
    <li class="nav-item">
      <a class="nav-link link-color" routerLink="/landing/main-section/employees-list" routerLinkActive="active"><span>Employees</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-color" routerLink="/landing/main-section/office-list" routerLinkActive="active"><span>Employee Office Locations</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-color" routerLink="/landing/main-section/audit-trail" routerLinkActive="active"><span>Audit Trail</span></a>
    </li>
  </ul>
</div>