<h2>Employee Manger - <small>To manage PrivilegeManager Employees</small></h2>
<div class="card employee-card">
      <h5 class="card-title employee-card-title">Card title</h5>
      <div class="card-body">
          <form>
              <div class="form-group">
                  <label for="nameEN">Name (En)</label>
                  <input type="text" class="form-control" id="nameEN" aria-describedby="nameEN" placeholder="Enter name in English"
                  value="{{employee.empNameEn}}">
                </div>
                <div class="form-group">
                    <label for="nameAr">Name (Ar)</label>
                    <input type="text" class="form-control" id="nameAr" aria-describedby="nameAr" placeholder="Enter name in Arabic"
                    value="{{employee.empNameAr}}">
                  </div>
                  <div class="form-group">
                      <label for="grpNo">Grp No</label>
                      <input type="text" class="form-control" id="grpNo" aria-describedby="grpNo" placeholder="Enter GRP No"
                      value="{{employee.empGprNo}}">
                    </div>
                    <div class="form-group">
                        <label for="employeeCode">Employee Code</label>
                        <input type="text" class="form-control" id="employeeCode" aria-describedby="employeeCode" placeholder="Enter Employee Code"
                        value="{{employee.empCode}}">
                      </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="isActive">
                        <label class="form-check-label" for="isActive">Is Active</label>
                      </div> 
                      <div class="form-group">
                          <label>Employee privilege</label>
                          <select id="employeePrivelege" data-style="btn-default" class="selectpicker form-control" multiple data-max-options="2">
                                <option>Mustard</option>
                                <option>Barbecue</option>
                              </select>
                        </div> 
                    <div class="form-group">
                        <label for="phNo">Phone Number</label>
                        <input type="text" class="form-control" id="phNo" aria-describedby="phNo" placeholder="Enter Phone No"
                        value="{{employee.empTelNo}}">
                    </div>   
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                        value="{{employee.empEmail}}">
                      </div>  
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-success">Update</button>
                        <button type="button" class="btn btn-outline-warning" style="margin-left:1rem">Cancel</button>
                    </div>                                                        
          </form>
      </div>
  </div>