.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.left-panel{
    background-color: rgb(103,168,105);
    color: white;
}

#content {
    flex-grow: 1;
}

.main-section {
    background-color: rgb(236,240,241);
}



