<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Location Name(En)</th>
      <th scope="col">Location Name (Ar)</th>
      <th>View/Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let office of (officeLocations$ | async)">
      <th scope="row">1</th>
      <td>{{office.locNameEn}}</td>
      <td>{{office.locNameAr}}</td>
      <td ><i class="fas fa-edit" routerLink="/landing/main-section/location-detail"></i></td>
    </tr>
  </tbody>
</table>
